# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a


# System dependend locations + files
*.sdf
*.opensdf
Debug/
ipch/
Snake/Debug/
build/
Breakout/build/
*~
